@import url("https://fonts.googleapis.com/css?family=Karla");
//@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

* {
  font-family: 'Karla', serif;
}

h1 {
  width: auto;
  text-align: center;
  font-size: 50px;
}

mat-card-header {
  width: auto;
  text-align: center;
  font-size: 35px;
}
