<mat-card>
  <mat-card-header>Game List</mat-card-header>
 <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)">
    <mat-form-field>
      <input matInput [(ngModel)]="searchGame.name"
             required name="name" #name>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit"
            [disabled]="!searchForm.form.valid">Search</button>
    <button mat-raised-button color="primary" (click)="searchForm.reset(); showAll()">Show all</button>
  </form>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let game of games">
        <h3 mat-line>
          <a mat-button [routerLink]="['/game-details', game.id]">{{game.name}}</a>
          <span style="text-align: right">{{game.platform}}</span>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/game-add']">+</button>
</mat-card>
