<mat-card>
  <mat-card-header>Game List</mat-card-header>
 <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)">
    <mat-form-field>
      <input matInput [(ngModel)]="searchGame.name"
             required name="name" #name>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit"
            [disabled]="!searchForm.form.valid">Search</button>
    <button mat-raised-button color="primary" (click)="searchForm.reset(); showAll()">Show all</button>
    <div class="dropdown">
      <button mat-raised-button color="primary">Sort by: {{sortBy}}</button>
      <div class="dropdown-content">
        <button mat-button color="primary" (click)="changeSort(1)">Name</button>
        <button mat-button color="primary" (click)="changeSort(2)">Platform</button>
        <button mat-button color="primary" (click)="changeSort(3)">Rating</button>
      </div>
    </div>
  </form>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let game of games">
        <h3 mat-line>
          <a mat-button [routerLink]="['/game-details', game.id]">{{game.name}}</a>
          <span style="text-align: right">{{game.platform}}</span>
          <span *ngFor="let goldstar of getIterator(game.rating)">
            <img src="https://dl.dropbox.com/s/ngxkbxyy8hmpbaw/Star_gold.png?dl=0" height="20px" width="20px"/>
          </span>
          <span *ngFor="let greystar of getIterator(5 - game.rating)">
            <img src="https://dl.dropbox.com/s/pnuorfnn75xib3o/Star_grey.png?dl=0" height="20px" width="20px"/>
          </span>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/game-add']">+</button>
</mat-card>
