#details-card {
  width: 40%;
  text-align: left;
  display: inline-block;
  font-size: 20px;
}

#rating-card {
  width: 40%;
  text-align: left;
  display: inline-block;
  font-size: 30px;
}

#cover-art {
}

#platform-logo {
  display: inline-block;
}
