#details-card {
  width: 40%;
  text-align: left;
  display: inline-block;
  font-size: 20px;
}

#rating-card {
  width: 40%;
  text-align: left;
  display: inline-block;
  font-size: 30px;
}

#logotype {
  display: inline-block;
  width: 100px;
  height: auto;
}

#platform-logo {
  display: inline-block;
}
