<mat-card>
  <mat-card-header>Details</mat-card-header>
  <mat-card id="details-card">
    <mat-list>
      <mat-list-item><span><b>Name: </b> {{game.name}}</span></mat-list-item>
      <mat-list-item><span><b>Platform: </b> {{game.platform}}</span></mat-list-item>
      <mat-list-item><span><b>Producer: </b> {{game.producer}}</span></mat-list-item>
    </mat-list>
  </mat-card>
  <img id="cover-art" src="{{game.gameCoverPath}}" alt="{{game.name}} cover" width="300" height="300" />
  <img id="platform-logo" src="{{platform.platformLogotypePath}}"  width="5%" height="5%"/>
  <br/><br/>
  <mat-card id="rating-card">
    <mat-list-item><span><b>Rating:  </b></span><br/><br/>
      <span *ngFor="let goldstar of getIterator(game.rating)">
            <img src="https://dl.dropbox.com/s/ngxkbxyy8hmpbaw/Star_gold.png?dl=0" height="50px" width="50px"/>
        </span><span *ngFor="let greystar of getIterator(5 - game.rating)">
            <img src="https://dl.dropbox.com/s/pnuorfnn75xib3o/Star_grey.png?dl=0" height="50px" width="50px"/>
        </span></mat-list-item>
  </mat-card>
  <br/><br />
  <a mat-button [routerLink]="['/game-edit', game.id]">Edit</a>
  <a mat-button routerLink="/game-list">Cancel</a>
</mat-card>


