.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

#form-card {
  width: 50%;
  display: inline-block;
  float: left;
}

#rating-card {
  width: 50%;
  display:inline-block;
}

#image-card {
  width: 33%;
  max-width: 33%;
  height: 495px;
  display: inline-block;
  float: right;
}
